@media(max-width: 600px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .menu-button a:hover {
    border-bottom-style: none;
  }
  .sidebar{
    width: 100%;
  }
}

/*========================
      TABLET 768px
======================*/
@media screen and (max-width: 768px) {

div.headers {
  background-image: url('images/ATP3.png');
  background-repeat: no-repeat;  
  background-size: cover;
  inset: 0;
  height: 70vh;
  }


.main__container {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-self: center;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  }

  .headersection2 {
    padding-top: 10px;
  }

  .headersection h1 {
    font-size: 2rem;
  }


  .headersection h3 {
    font-size: 1.2rem;
    padding-bottom: 20px;
  }

  .headersection hr {
    margin-right: 50%;
    margin-left: 45%;
    width: 15%;
    padding: 0px;
  }

  .headersection2 h1 {
    font-size: 1.8rem;
  }

  .headersections2 p {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  .ast-builder {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    text-align: center
  }

  .ast-builder h1 {
    font-size: 2rem;
    text-align: center;
  }

  .ast-builder p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.4;
    width: 100%;
    padding: 0%;
    margin: 0%;
    padding-top: 25px;
  }

  .col-12 {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .col-12 h1 {
    font-size: 2rem;
  }

  .col-12 hr {
    margin-right: 50%;
    margin-left: 40%;
    width: 20%;
    padding: 0px;
    margin-bottom: 17%;
  }

  .row {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .myImage {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .myImage img {
    height: 300px;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .myImage h3 {
    font-size: 1rem;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .myImage p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.4;
    width: 100%;
    padding: 0%;
    margin: 0%;
  }

  .figcaption-btn {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    width: 50%;
  }

  .hfeed h1 {
    font-size: 1.7rem;
    text-align: center;
  }

  .hfeed p {
    font-size: 0.90;
    text-align: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
  }

  .contact-us {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
  }

  .picture img {
    margin-top: 25px;
    height: 150px;
    width: 93%;
    padding: 0px;
    margin-left: 17px;
    margin-right: 0px;
  }

  .wp-singular h1 {
    font-size: 1.7rem;
    text-align: center;
    color: red;
  }

  .wp-singular p {
    font-size: 0.90;
    text-align: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .flex-shrink h1 {
    font-size: 1.7rem;
    text-align: left;
    width: 140%;
    padding: 0px;
    margin: 0px;
    padding-top: 70px;
    padding-left: 20px;
  }

  .flex-shrink hr {
    margin-right: 10%;
    margin-left: 6%;
    width: 20%;
    padding: 0px;
  }

  .flex-shrink p {
    font-size: 0.90;
    text-align: left;
    width: 125%;
    padding: 0px;
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
  }

  .learn-morebutton {
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    width: 50%;
    margin-top: 50px;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
  .content-hero {
    text-align: left;
    width: 100%;
    padding-left: 20px;
  } 

  .content-hero h1 {
    font-size: 1.7rem;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .content-hero hr {
    margin-right: 16%;
    margin-left: 1%;
    width: 20%;
    padding: 0px;
    margin-top: 20px;
  }

  .content-hero p {
    font-size: 0.90;
    text-align: justify;
    width: 90%;
    padding: 0px;
    margin: 0px;
    padding-top: 25px;                                                
  }

  .content-heros {
    margin-top: 40px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    width: 170px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 25px;
    background: red;
    margin-left: 0px;
    margin-bottom: 50px;
    cursor: pointer;
  }
.content-heros :hero {
    background-color:    555;
  }

  .content-image img {
    width: 96%;
    margin-left: 10px;
    border-radius: 5px;
    height: 50vh;
  }

  .firstimg,
  .secondimg,
  .thirdimg,
  .forthimg {
    margin-top: 25px;
    height: 300px;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .launch h1 {
    font-size: 1.7rem;
    text-align: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-top: 70px;
    padding-left: 20px;
  }

  .launch hr {
    margin-right: 10%;
    margin-left: 5%;
    width: 15%;
    padding: 0px;
  }

  .wp_news {
    display: block;
    text-align: justify;
  }

  .first_wp_news h3 {
    font-size: 1.4rem;
    text-align: justify;
    width: 300%;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
    padding-left: 20px;
  }
  .sec_wp_news h3 {
    font-size: 1.4rem;
    text-align: justify;
    width: 300%;
    padding: 0px;
    margin: 0px;
    padding-top: 40px;
    padding-left: 20px;
  }
  .third_wp_news h3 {
    font-size: 1.4rem;
    text-align: justify;
    width: 300%;
    padding: 0px;
    margin: 0px;
    padding-top: 40px;
    padding-left: 20px;
  }

  p.ast_skills {
    font-size: 0.90;
    text-align: justify;
    width: 300%;
    padding: 0px;
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  p.date {
    font-size: 0.90;
    text-align: justify;
    width: 300%;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
  }

  .wp_news a {
    padding-left: 20px;
    margin-top: 30px;
  }

  .launch img {
    height: 50vh;
    width: 95%;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .container {
    display: block;
    margin-top: 80px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .vp-container {
    display: block;
    padding-left: 30px;
  }

  .vp-container p {
    font-size: 0.90rem;
    text-align: left;
    width: 130%;
    margin: 0px;
    padding-top: 0px;
  }

  .vp-container h3 {
    text-align: left;
    width: 400%;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .wp-logo img {
    width: 25%;
    padding: 0px;
    margin: 0px;
    margin-right: 30px;
  }

/*========================
    ABOUT PAGE      
======================*/

div.header {
  background-image: url('images/ATTP.png');
  background-repeat: no-repeat;  
  background-size: cover;
  background-attachment: fixed;
  inset: 0;
  height: 37vh;
}

.headersections2 h1 {
  font-size: 1.5rem;
  padding-top: 18px;
}

.headersections2 p {
  font-size: 1.1rem;
}

.continet {
  justify-content: left;
  display: block;
}

.bashe {
  padding-top: 20px;
  margin-left: 0px;
  width: 110%;
  text-align: left;
}

.bashe h3 {
  text-align: left;
  margin: 0;
}

.bashe hr {
  border: none;
  height: 4px;
  width: 15%;
  background-color: #DD183B;
  margin-left: 0px;
  margin-right: 80%;
  margin-top: 20px;
}

div.img-bashe {
  margin-top: 20px;
  width: 130%;
}

.img-bashe img {
  margin-top: 0px;
  display: block;
  border-radius: 4px;
}

.all-team {
  background-color: lightgray;
  padding-bottom: 10px;
  padding-right: 10px;
}

.image-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.image-box img{
  width: 90%;
  height: 750px;
  border-radius: 5px; 
  object-fit: cover;
  margin-left: 30px;
}

.image-1{
  background-color: lightgray;
  background-position: 70%, 70%;
  padding-right: 10px;
  padding-bottom: 10px;
}
.image-2 {
  background-color: lightgray;
  background-position: 70%, 80%;
  padding-right: 10px;
  padding-bottom: 10px;
}

p.wp {
  width: 115%;
  text-align: left;
  padding-left: 15px;
}

div.list {
  padding-top: 50px;
  padding-left: 15px;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
  color: #555;
  text-align: left;
}
/*========================
    CONTACT PAGE      
======================*/

div.header1 {
  background-image: url('images/PT.png');
  background-repeat: no-repeat;  
  background-size: cover;
  inset: 0;
  height: 40vh;
}

div.headersections3 {
  font-size: 1.0rem;
  padding-top: 18px;
  text-align: center;
}

div.fa-form {
  display: block;
  margin-left: 0px;
  justify-content: center;
  padding-top: 70px;
}

.fas-head {
  margin-left: 0px;
}

.fas-head h1 {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 30px;
}
input.name {
  width: 100%;
}

input {
  font-size: 15px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  height: 55px;
  background-color: whitesmoke;
  border: 1px solid darkgray;
}

.contract-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  font-size: 20px;
  width: 100%;
  height: 120px;
  background-color: whitesmoke;
  border: 1px solid darkgray;
  padding: 10px;
}

.send-message {
  background-color: #DD183B;
  border-radius: 25px;
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  width: 170px;
  border: 2px ;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 60px;
  cursor: pointer;
}
.send-message:hover {
  background-color: #555;
}

.fa-head {
  margin-right: 20%;
}
.fa-head h1 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}
h3.prof {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding-top: 20px;
  color: #000;
}
p.proff {
  padding-top: 10px;
  font-family: serif;
  color: gray;
  font-size: 15px;
}
.proffe {
  text-decoration: none;
  color: #DD183B;
  font-weight: bold;
  outline: none;
}
.proffe a:hover {
  color: none;
}
}

/*========================
      MOBILE 480px
======================*/

@media screen and (max-width: 480px) {
  .headersection h1 {
    font-size: 2rem;
  }


  .headersection h3 {
    font-size: 2rem;
  }

  .headersection2 h1 {
    font-size: 2rem;
  }

  .headersections2 p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .centre-container {
    padding: 12px 36px;
    margin: 2.5rem 0;
  } 
}